<form [formGroup]="userForm" style="margin-left: 220px; margin-right: 220px; margin-top: 50px">
  <p-panel>
    <p-header style="text-align:center; font-size: 20px">
      <div class="ui-helper-clearfix">
        <span class="ui-panel-title" style="display:inline-block;
         font-weight: bold; font-size: 25px">Marketing Log</span>
      </div>
    </p-header>
    <div class="ui-g">

      <div class="ui-g-4  ui-sm-4">
        <label for="tradeName">Trade Name:</label>
      </div>
      <div class="ui-sm-8 ui-g-8">
        <input id="tradeName" formControlName="tradeName" type="text" pInputText>
      </div>

      <div class="ui-sm-4  ui-g-4">
        <label for="contact">Contact Number:</label>
      </div>
      <div class="ui-sm-8 ui-g-8">
        <input id="contact" formControlName="contact" type="number" pInputText>
      </div>

      <div class="ui-sm-4 ui-g-4" style="margin-top: 10px">
        <label for="currentScenario">Current Scenario:</label>
      </div>
      <div class="ui-sm-8 ui-g-8">
        <p-dropdown [style]="{'width': '175px'}" [options]="currentScenario" placeholder="Select a Type" optionLabel="name" [showClear]="true"></p-dropdown>
      </div>

      <div class="ui-sm-4 ui-g-4" style="margin-top: 10px">
        <label for="rateUs">Are you interested in our software?</label>
      </div>
      <div class="ui-sm-8 ui-g-8">
        <div class="ui-sm-4 ui-g-4 nopad">
          <p-radioButton name="group3" formControlName="usingSoftware" value="Yes" label="Yes" (onClick)="redioYes();"></p-radioButton>
        </div>
        <div class="ui-sm-4 ui-g-4 nopad">
          <p-radioButton name="group3" formControlName="usingSoftware" value="No" label="No" (onClick)="redioNo();"></p-radioButton>
        </div>
      </div>

      <div class="ui-sm-12 ui-g-12" *ngIf="blockPreviewYes">
        <div class="ui-sm-8 ui-g-8 ui-md-offset-4">
          <p-panel>
            <p-header>
              <div class="ui-helper-clearfix">
                <span class="ui-panel-title">Please rate us.</span>
              </div>
            </p-header>
            <div class="ui-g">
              <div class="ui-sm-12 ui-g-12">
                <div class="ui-sm-3 ui-g-3 nopad">
                  <p-radioButton name="group4" formControlName="rateUs" value="Bad" label="Bad"></p-radioButton>
                </div>
                <div class="ui-sm-3 ui-g-3 nopad">
                  <p-radioButton name="group4" formControlName="rateUs" value="Good" label="Good"></p-radioButton>
                </div>
                <div class="ui-sm-3 ui-g-3 nopad">
                  <p-radioButton name="group4" formControlName="rateUs" value="Very Good" label="Very Good"></p-radioButton>
                </div>
                <div class="ui-sm-3 ui-g-3 nopad">
                  <p-radioButton name="group4" formControlName="rateUs" value="Excellent" label="Excellent"></p-radioButton>
                </div>
              </div>
            </div>
            <div class="ui-g">
              <div class="ui-sm-12 ui-g-12">
                <label for="anySuggestion">Any suggestion?</label></div>
              <div class="ui-sm-12 ui-g-12">
                <textarea id="anySuggestion" rows="5" cols="68" pInputTextarea autoResize="autoResize"></textarea>
              </div>
            </div>
            <div class="ui-g">
              <div class="ui-sm-12 ui-g-12">
                <label for="anySuggestion">Fee:</label></div>
              <div class="ui-sm-12 ui-g-12">
                <input id="anySuggestion" rows="5" cols="68" pInputTextarea autoResize="autoResize">
              </div>
            </div>
            <p-footer>
              <button pButton type="button" label="Save" class="ui-button-info"></button>
            </p-footer>
          </p-panel>
        </div>
      </div>

      <div class="ui-sm-12" *ngIf="blockPreviewNo">
        <div class="ui-sm-8 ui-g-8 ui-md-offset-4">
          <p-panel>
            <p-header>
              <div class="ui-helper-clearfix">
                <span class="ui-panel-title">Please give reasons and suggestion, so that we can improve.</span>
              </div>
            </p-header>
            <div class="ui-g">
              <div class="ui-sm-12 ui-g-12">
                <textarea id="anySuggestion" rows="5" cols="68" pInputTextarea autoResize="autoResize"></textarea>
              </div>
            </div>
            <p-footer>
              <button pButton type="button" label="Save" class="ui-button-info"></button>
            </p-footer>
          </p-panel>
        </div>
      </div>

      <div class="ui-sm-4 ui-g-4">
        <label>Are you interested our service?</label>
      </div>
      <div class="ui-sm-8 ui-g-8">
        <div class="ui-sm-4 ui-g-4 nopad">
          <p-radioButton name="group5" formControlName="interestedUsingSoftware" value="Yes" label="Yes" (onClick)="interestedYes();"></p-radioButton>
        </div>
        <div class="ui-sm-4 ui-g-4 nopad">
          <p-radioButton name="group5" formControlName="interestedUsingSoftware" value="No" label="No" (onClick)="interestedNo();"></p-radioButton>
        </div>
      </div>

      <div class="ui-sm-8 ui-g-8 ui-md-offset-4" *ngIf="interested_Yes">
        <p-table>
            <ng-template pTemplate="header">
              <tr>
            <th>
              Service Type
            </th>
            <th>
              Rate
            </th>
            
          </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
            <td>
              <p-dropdown [style]="{'width': '175px'}" [options]="interrestedInSoftware" placeholder="Select a Type" optionLabel="name"
                [showClear]="true"></p-dropdown>
            </td>
            <td>
              <input type="text" style="height: 30px;">
            </td>
          </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="ui-sm-8 ui-g-8 ui-md-offset-4" *ngIf="interested_No">
        <div class="ui-sm-12 ui-g-12">

        </div>
      </div>
    </div>

    <p-footer>
      <button pButton type="button" label="Submit" class="ui-button-info"></button>
    </p-footer>
  </p-panel>
</form>