<div class="ui-g">

  <div class="ui-g-4">
    <p-button label="Company Log List" (onClick)="companyLogList()" class="ui-button-rounded ui-button-success"></p-button>
    <p>&nbsp;</p>
    
  </div>
  <!-- <div class="ui-g-4">

     <p-button  button type="button" label="Company Log" (onClick)="companyLog()" class="ui-button-rounded ui-button-success" icon="fa fa-fw fa-plus" ></p-button>
    
    </div> -->
  <div class="ui-g-4">
    <p-button label="Marketing Log" (onClick)="marketingLog()" class="ui-button-rounded ui-button-success"></p-button>
  </div>

</div>




<!-- <app-company-log-form *ngIf="compLog"></app-company-log-form>
<app-marketing-log-form *ngIf="markLog"></app-marketing-log-form> -->