<br>
        <br>
<p-table>
  <ng-template pTemplate="header">
      <tr>
          <th rowspan=2>
              Summary
          </th>
          <th>
              Total Visit
          </th>
          <th>
                  Total Client Visits
              </th>
          <th>
                  Total Franchise Visits
              </th>
          <th>
                  Total First Visits
              </th>
              <th> 
                  Total Second Or Third Visits
                  </th>

                 
      </tr>

    <tr>
      <td>{{report?.totalVisits}}</td>
      <td>{{report?.totalClientVisits}}</td>
      <td>{{report?.totalFranchiseVisits}}</td>
      <td>{{report?.totalFirstVisits}}</td>
      <td>{{report?.totalSecondOrThirdVisits}}</td>
      </tr>
    
      <br>
        <br>
     
      </ng-template>
            

</p-table>


<p-table>
    <ng-template pTemplate="header">
        <tr>
            <th rowspan=2>
                Summary
            </th>
            <th>
                    Total Bad Query Rating 
                </th>
            <th>
                    Total Good Query Rating
                </th>
            <th>
                    Total Very Good Query Rating
                </th>
                <th> 
                    Total Excellent Query Rating
                    </th>
  
                   
        </tr>
  
      <tr>
        <td>{{report?.totalBadQueryRating}}</td>
        <td>{{report?.totalGoodQueryRating}}</td>
        <td>{{report?.totalVeryGoodQueryRating}}</td>
        <td>{{report?.totalExcellentQueryRating}}</td>
        </tr>
      
        <br>
        <br>
  
        </ng-template>
              
        
  
  </p-table>
  


  <p-table>
      <ng-template pTemplate="header">
          <tr>
              <th rowspan=2>
                  Summary
              </th>
              <th>
                      Total Bad Query Service 
                  </th>
              <th>
                      Total Good Query Service
                  </th>
              <th>
                      Total Very Good Query Service
                  </th>
                  <th> 
                      Total Excellent Query Service
                      </th>
    
                     
          </tr>
    
        <tr>
          <td>{{report?.totalBadQueryRating}}</td>
          <td>{{report?.totalGoodQueryRating}}</td>
          <td>{{report?.totalVeryGoodQueryRating}}</td>
          <td>{{report?.totalExcellentQueryRating}}</td>
          </tr>
        
         
          </ng-template>
                
    
    </p-table>
    