<!--client visit startted here-->
<div class="ui-g card" style="background-image:linear-gradient(90deg, #31282840, #87d1f3) ;">
  <div class="ui-g-10 ui-md-offset-1">
      <!--table content 1-->
      <div class="ui-g card">
          <div class="ui-md-11 ui-sm-11-ui-g-11">
              <br>
              <br>
              <u> <h3 style="text-align:center; font-size:26px;">Total visitor</h3></u>
              <p-table>
                  <ng-template pTemplate="header">
                      <tr>
                          <th rowspan=2 class="trt">
                              Summary
                          </th>
                          <th class="trt">
                              Total Visit
                          </th>
                          <th class="trt">
                              Total Client Visits
                          </th>
                          <th class="trt">
                              Total Franchise Visits
                          </th>
                          <th class="trt">
                              Total First Visits
                          </th>
                          <th class="trt">
                              Total Second Or Third Visits
                          </th>


                      </tr>

                      <tr>
                          <th  style="background:white;"></th>
                          <th style="background:white;"></th>
                          <th style="background:white;"></th>
                          <th style="background:white;"></th>
                          <th style="background:white;"></th>
                      </tr>

                      <br>
                      <br>

                  </ng-template>


              </p-table>


              <!--table content end-->

          </div>
      </div>
      <!--client visit ended here-->
      <!--query started here-->
      <div class="ui-g card">
          <div class="ui-md-11 ui-sm-11-ui-g-11">
                  <u>    <h3 style="text-align:center; font-size:26px;">Query Rating</h3></u>
              <p-table>
                  <ng-template pTemplate="header">
                      <tr>
                          <th rowspan=2 class="trt">
                              Summary
                          </th>
                          <th class="trt">
                              Total Bad Query Rating
                          </th>
                          <th class="trt">
                              Total Good Query Rating
                          </th>
                          <th class="trt">
                              Total Very Good Query Rating
                          </th>
                          <th class="trt">
                              Total Excellent Query Rating
                          </th>


                      </tr>

                      <tr>
                          <th  style="background:white;"></th>
                          <th style="background:white;"></th>
                          <th style="background:white;"></th>
                          <th style="background:white;"></th>
                      </tr>

                      <br>
                      <br>

                  </ng-template>



              </p-table>
          </div>
      </div>
      <!--query ended here-->
      <!--Query service started here-->
      <div class="ui-g card">
          <div class="ui-md-11 ui-sm-11-ui-g-11">
                 <u> <h3 style="text-align:center; font-size:26px;">Service Rating</h3></u>
              <p-table>
                  <ng-template pTemplate="header">
                      <tr>
                          <th rowspan=2 class="trt">
                              Summary
                          </th>
                          <th class="trt">
                              Total Bad Query Service
                          </th>
                          <th class="trt">
                              Total Good Query Service
                          </th>
                          <th class="trt">
                              Total Very Good Query Service
                          </th>
                          <th class="trt">
                              Total Excellent Query Service
                          </th>


                      </tr>

                      <tr>
                          <th style="background:white;"></th>
                          <th  style="background:white;"></th>
                          <th style="background:white;"></th>
                          <th  style="background:white;"></th>
                      </tr>
                      <br>
                      <br>

                  </ng-template>


              </p-table>
              <!---chart conetent start -->
          </div>
      </div>
      <!--Query service  ended here-->
      <!--Software Query started here-->
      <div class="ui-g card">
          <div class="ui-md-11 ui-sm-11-ui-g-11">
                  <div class="ui-g card">
                          <div class="ui-md-6 ui-sm-6-ui-g-6 ui-md-offset-3">
                               <u><h3 style="text-align:center; font-size:26px;">Software Intrested</h3></u>
              <p-table>
                  <ng-template pTemplate="header">
                      <tr>
                          <th rowspan=2 class="trt">
                              Summary
                          </th>
                          <th class="trt">
                              Software Intrested
                          </th>
                      </tr>

                      <tr>
                          <th style="background:white;"> </th>
                      </tr>
                  </ng-template>
<br>

              </p-table>
              </div>
              </div>
          </div>
      </div>
      <!--Software Query ended here-->

  </div>

</div>
